:root {
  --primary-color: #fffaf5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: var(--primary-color);
}

/* Common */

a {
  text-decoration: none;
}

.container {
  width: min(1170px, 100% - 48px);
  margin: 0 auto;
}

.heading_1 {
  color: #000958;
  font-family: Sora;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.19; /* 119.231% */
}

.desc_common {
  color: #656689;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
}

.btn {
  min-width: 11.7rem;
  display: inline-block;
  padding: 1.3rem 3.1rem;
  border: 1px solid #000958;
  border-radius: 3.1rem;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}

/* Header */
.header.fixed {
  position: sticky;
  top: -1.8rem;
  z-index: 99;
  background: var(--primary-color);
}

.header__inner {
  padding: 2.6rem 0 0.8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav__item {
  padding: 0 18px;
  color: red;
}

.nav__item:first-child {
  padding-left: 0;
}

.nav__item:last-child {
  padding-right: 0;
}

.nav__link {
  color: #5e6085;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4rem; /* 100% */
}

.nav__link.active {
  color: #000958;
  font-weight: 600;
}

.header-action__btn {
  color: #000958;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4rem; /* 100% */
  background: transparent;
}

/* Hero */
.hero {
  padding-top: 9.2rem;
}

.hero .inner {
  display: flex;
}

.hero .inner__left,
.hero .inner__right {
  position: relative;
  flex: 1 0 50%;
  min-height: 400px;
}

.inner__left .image__big,
.inner__left .image__icon-left,
.inner__left .image__icon-right,
.inner__left .wrapper__img,
.inner__left .image__small,
.inner__left .second__info {
  position: absolute;
}

.inner__left .image__big {
  top: 0;
  left: 0;
  width: 38.8rem;
  height: 48.8rem;
  object-fit: cover;
  border-radius: 1.6rem;
  z-index: 1;
  border: 3px solid #fff;
}

.inner__left .image__icon-left {
  bottom: -3rem;
  left: -6rem;
}

.inner__left .image__icon-right {
  top: 1.6rem;
  right: 15.58rem;
}

.inner__left .wrapper__img {
  width: 18.6rem;
  height: 24.4rem;
  border-radius: 1.6rem;
  background: #faa7ad;
  bottom: -7rem;
  right: 3.3rem;
  border: 1px solid #fff;
  z-index: 1;
}

.inner__left .image__small {
  width: 15rem;
  height: 22rem;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
}

.inner__left .second__info {
  z-index: 2;
  width: 25rem;
  height: 15.6rem;
  border-radius: 1rem;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  padding: 1.94rem;
  flex-direction: column;
  justify-content: space-around;
  bottom: -12rem;
  left: 14rem;
}
.inner__left .second__info,
.inner__left .second__info .row {
  display: flex;
}

.inner__left .second__info .row {
  gap: 0.86rem;
}

.inner__left .second__info .avatar {
  width: 4rem;
  height: 3.8rem;
  object-fit: cover;
  background: orange;
  border-radius: 1.2rem;
}

.inner__left .second__info .seperate {
  width: 22.2rem;
  height: 0.2rem;
  background: #f2f2f2;
}

.inner__left .second__info .info__title {
  position: relative;
  margin-top: 0.4rem;
  color: #181e52;
  font-family: Sora;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4rem; /* 100% */
}

.inner__left .second__info .info__title::after,
.inner__left .second__info .info__title::before {
  position: absolute;
  content: "";
}

.inner__left .second__info .info__title::before {
  width: 11.8rem;
  height: 0.4rem;
  border-radius: 1rem;
  opacity: 0.08;
  background: #000958;
  top: 1.8rem;
}

.inner__left .second__info .info__title::after {
  width: 3.9rem;
  height: 0.4rem;
  border-radius: 1rem;
  opacity: 0.08;
  background: #000958;
  top: 2.6rem;
  left: 0;
}

.inner__right {
  padding: 7rem 0 0 6.5rem;
}

.inner__right .inner__right-title {
  width: 51.7rem;
  color: #000958;
  font-family: Sora;
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 7.6rem; /* 115.152% */
}

.inner__right .inner__right-desc {
  margin-top: 2.4rem;
  width: 39.1rem;
}

.inner__right .inner__right-row {
  margin-top: 3.8rem;
  display: flex;
  align-items: center;
}

.inner__right .inner__right-row .inner__right-btn {
  position: relative;
  border-radius: 3.1rem;
  min-width: 18.9rem;
  background: #ff5b2e;
  color: #fff;
  text-align: left;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6rem; /* 100% */
  border: none !important;
  outline: none;
}

.inner__right .inner__right-row .inner__right-btn:hover {
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.inner__right .inner__right-row .inner__right-btn::after,
.inner__right .inner__right-row .inner__right-btn::before {
  position: absolute;
  content: "";
}

.inner__right .inner__right-row .inner__right-btn::before {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background: #fff;
  right: 2rem;
  bottom: 50%;
  transform: translateY(50%);
}

.inner__right .inner__right-row .inner__right-btn::after {
  width: 0.5rem;
  height: 0.5rem;
  border: 2px solid;
  border-color: #ff5b2e #ff5b2e transparent transparent;
  right: 2.8rem;
  top: 1.7rem;
  rotate: 45deg;
}

.inner__right .inner__right-row .inner__right-desc {
  margin-top: 0;
  padding: 1.3rem 3.1rem;
  color: #000958;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem; /* 100% */
  text-decoration-line: underline;
  cursor: pointer;
}
